@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --blue: #00c2ff;
  --dark_blue: #003444;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.main_wrapper {
  max-height: 100vh;
  height: 100%;
}

.container_bg {
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100%;
  height: calc(100vh - 110px);
}

.btn_action {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: var(--white);
  width: fit-content;
  font-size: 1.2rem;
}

.btn_action:hover {
  color: var(--dark_blue);
}

.action_main {
  margin-top: 2rem;
}

.menu {
  padding: 1rem 0;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 3rem;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
}

.logo .fas {
  color: var(--white);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  color: var(--white);
  padding: 0 1rem;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: var(--blue);
}

nav ul li:first-child {
  font-weight: 700;
}

.central {
  padding: 0;
  margin: 0 10%; /* align with .menu*/
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
  top: 25%;
}

.central h1 {
  color: var(--blue);
  font-weight: 700;
  font-size: 4rem;
}

.central h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 2.2rem;
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 110px;
  background-color: var(--black);
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  height: 100%;
}

footer ul {
  list-style: none;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer ul li strong {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 400;
}

footer ul li p {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 300;
}

/*=============================================
=            Media Query
            =
=============================================*/

@media screen and (max-width: 1024px) {
  .menu,
  .central {
    margin: 0 5%;
  }
  .logo h1 {
    font-size: 2rem;
  }
  nav ul li a {
    font-size: 1.2rem;
  }
  .central h1 {
    font-size: 3.8rem;
  }
  .central h3 {
    font-size: 2rem;
  }
  nav ul {
    flex-direction: column;
    padding: 0.6rem 0;
  }
  .action_menu {
    display: none;
  }
  footer ul li p {
    font-size: 1.2rem;
  }
  footer ul li strong {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  footer ul li p {
    font-size: 1rem;
  }
  footer ul li strong {
    font-size: 1.1rem;
  }
  footer ul {
    margin: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  footer ul li p {
    font-size: 0.8rem;
  }
  footer ul li strong {
    font-size: 1rem;
  }
  .central h1 {
    font-size: 3.5rem;
  }
  .central h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 425px) {
  footer ul li p {
    font-size: 0.8rem;
  }
  footer ul li strong {
    font-size: 1rem;
  }
  .central {
    top: 10%;
  }
  .central h1 {
    font-size: 3rem;
  }
  .central h3 {
    font-size: 1.6rem;
  }
  footer ul li p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 375px) {
  .central h1 {
    font-size: 2.6rem;
  }
  .footer {
    height: 100%;
  }
  footer ul {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  footer ul li {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .logo h1 {
    font-size: 1.6rem;
  }
  .fa-car {
    font-size: 1.6rem;
  }
  nav ul li a {
    font-size: 0.8rem;
  }
  .central h1 {
    font-size: 2.2rem;
  }
  .central h3 {
    font-size: 1.4rem;
  }
  .btn_action {
    font-size: 1rem;
  }
  footer ul li strong {
    font-size: 0.8rem;
  }
}

/*=====  End of Media Query
  ======*/
